<h2>
  Propriétaires
</h2>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="propSource">

    <!-- Position Column -->
    <ng-container [matColumnDef]="name" *ngFor="let name of displayedPropColumns">
      <mat-header-cell *matHeaderCellDef> {{propTitles[name]}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="name !='cliniqueno'">{{element[name]}} </div>
        <div *ngIf="name =='cliniqueno'">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedPropColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedPropColumns;"></mat-row>
  </mat-table>

  <div style="position: fixed; bottom:0;">
    <button mat-raised-button color="primary" style="    width: 100vw;
    margin-left: -20px;">
      Register New Owner
    </button>
  </div>
</div>
