.header {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
}

.header > h2 {
  flex: 1;
  margin: 5px;
}

.mat-raised-button {
  width: 100%;
}

table {
  width:100%;
  margin: 10px;
}

th {
  background: lightgrey;
  padding: 5px
}

td{
  border: solid 1px lightgrey;
  padding: 10px;
}
