<h2>
  Personnel
</h2>
<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- All Column -->
    <ng-container [matColumnDef]="name" *ngFor="let name of displayedColumns">
      <mat-header-cell *matHeaderCellDef> {{titles[name]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element[name]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div style="position: fixed; bottom:0;">
  <button mat-raised-button color="primary" style="    width: 100vw;
    margin-left: -20px;">
    Nouvelle Personnel
  </button>
</div>
