<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <mat-icon>local_hospital</mat-icon>
  <h1 routerLink="/home"> {{ title }} </h1>
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #appMenu="matMenu" overlapTrigger="false">
    <button mat-menu-item routerLink="/clinique">Clinique</button>
    <button mat-menu-item routerLink="/personnel">Personnel</button>
    <button mat-menu-item routerLink="/traitement">Traitement</button>
    <button mat-menu-item routerLink="/request">Requests</button>
  </mat-menu>
</mat-toolbar>
<section>
  <router-outlet></router-outlet>
</section>

