<h2>Cliniques</h2>

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Recherche">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="cliniqueSource">

    <!-- Position Column -->
    <ng-container [matColumnDef]="name" *ngFor="let name of displayedCliniqueColumns">
      <mat-header-cell *matHeaderCellDef> {{cliniqueTitles[name]}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>{{element[name]}}</div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedCliniqueColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedCliniqueColumns;"></mat-row>
  </mat-table>

  <div style="position: fixed; bottom:0;">
    <button mat-raised-button color="primary" style="    width: 100vw;
    margin-left: -20px;">
      Nouvelle Clinique
    </button>
  </div>
</div>
