<img class="fill" src="../assets/banner.jpg">
<h2>Bienvenu</h2>
<div class="container">
  <h3 class="h3">Parmi nos services</h3>
  <div class="about-head text-center">
    <mat-card>
      <span class="fa fa-medkit sicon" aria-hidden="true"></span>
      <h4>Traitement à la Pénicilline </h4>
      <mat-card-content>
        <p>La pénicilline appartient à la famille des médicaments appelés antibiotiques. Elle s'utilise pour soigner
          certains types d'infection bactériennes et est le plus souvent utilisée pour soigner certaines infections de la
          gorge, des voies respiratoires et de la peau.</p>
      </mat-card-content>
      <a href="http://sante.canoe.ca/drug/getdrug/penicilline-v-300">
        <button mat-raised-button color="primary" > En savoir plus </button>
      </a>
    </mat-card>
    <mat-card>
      <span class="fa fa-user-md sicon" aria-hidden="true"></span>
      <h4>Vaccination contre la grippe</h4>
      <mat-card-content>
        <p>La grippe se transmet très facilement. Les animaux qui ont plus de risques de présenter des complications
          devraient se faire vacciner chaque année. La vaccination constitue le meilleur moyen de protéger ces animaux
          contre la grippe et ses complications.
        </p>
      </mat-card-content>
      <a href="http://sante.gouv.qc.ca/conseils-et-prevention/vaccination-contre-la-grippe/">
        <button mat-raised-button color="primary" > En savoir plus</button>
      </a>
    </mat-card>
    <mat-card>
      <span class="fa fa-medkit sicon" aria-hidden="true"></span>
      <h4>Traitement à la Cortisone</h4>
      <mat-card-content>
        <p>La cortisone est utilisée dans le traitement de diverses maladies de la peau, dans le but généralement de
          contrôler les symptômes de celles-ci. Par exemple, les démangeaisons dues aux allergies peuvent être contrôlées
          avec un traitement à base de cortisone.</p>
      </mat-card-content>
      <a href="http://sante.canoe.ca/drug/getdrug/cortisone-acetate-de-valeant">
        <button mat-raised-button color="primary" > En savoir plus </button>
      </a>
    </mat-card>
  </div>
</div>
